*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url('/IMAGES/bg.png');
    background-size: cover;
    overflow:hidden ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    font-size: 20px;
    margin-right: 5%;
    color: gold;
}
#main{
    font-size: 80px;
    color: white;
}
.down{
    font-size: 20px;
    z-index: 1000;
}
.words{
    text-align: center;
    margin-right: 20px;
}
