.explain{
    border-left: 3px solid #367273;
    padding: 1%;
    border-radius: 7px;
}
.abt{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 55%;
    width: 100%;
}

.x{
    margin-left: 42%;
    margin-bottom: 5%;
    padding: 2%;
    padding-top: 10%;
    padding-bottom: 10%;
    background: none;
}
video{
    border: 1px solid #54abad;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}