.delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.delete-box {
  background: #4fa5a7;
  width: 30%;
  color: azure;
  text-align: center;
  border-radius: 12px;
  padding: 25px;
  animation: pop 0.25s ease-out;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.delete-box h3 {
  margin-bottom: 15px;
  color: #b32525;
  font-size: 20px;
  font-weight: 700;
}
.delete-actions{
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 2%;
}
.warning-text {
  font-size: 14px;
  margin-bottom: 8px;
}

.delete-btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 48%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.btn.cancel {
  background: #dcdcdc;
  color: #333;
}

.btn.cancel:hover {
  background: #bfbfbf;
}

.btn.delete {
  background: #e74c3c;
  color: white;
}

.btn.delete:hover {
  background: #bf3c2f;
}

@keyframes pop {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
