*{
    margin: 0;
    padding: 0;
}
body{
    padding: 1.5%;
    overflow: hidden;
    padding-left: 5%;
}
#sun{
    display: none;
}
.vid{
    background-image: url('/IMAGES/bg.png');
    width: 60%;
    border-radius: 2%;
}
.vid video{
    margin-left: 30%;
}
.card-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 20%;
  height: 500px;
  padding: 10px;
  text-align: center;
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}