*{
    margin: 0;
    padding: 0;
    font-size:35px;
}
body{
    font-family:bahnschrift;
    background: url('./IMAGES/bg.png');
    background-size: cover;
    background-position: center;
    overflow:hidden ;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(1, 41, 26);
    min-height: 100vh;
    width: 100%;
}
.left{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(30deg,#fff,#f3f9fa,#e0f5f7);
  justify-items: center;
  padding: 3% 0;
}
.left1{
  margin-left: 10%;
  filter:drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
}
.left h1{
  font-size: 50px;
}
.left p{
  font-family: 'Gabriola';
  font-size: 15px;
  text-align: justify;
  width: 40%;
  line-height: 17px;
}
#main{
  color: #fff;
  font-size: 75px;
}
footer{
  position: fixed; /* Or use flex/grid above */
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(30deg,#e0f5f7,#e0f5f7,#e0f5f7);
  color: #367273;
  padding: .5%;
  text-align: center;
  z-index: 100;
  font-size: 18px;
}
.down{
  color: #fff;
  font-size: 20px;
}


.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20%;
  /* rest of your styles */
}
.image{
  margin-right: 100%;
  animation: float 4s ease-in-out;
  object-fit: cover;
  filter:drop-shadow(0 5px 8px rgba(0, 0, 0, .8));
}
/* Glow behind the object */
.image::after {
    content: "";
    position: absolute;
    top: 50%; left: 50%;
    width: 160%;
    height: 160%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255,255,255,0.18) 0%, rgba(0,0,0,0) 70%);
    filter: blur(30px);
    z-index: -1;
}

/* Smooth floating animation */
@keyframes float {
    0%   { transform: translateY(0) scale(1); }
    30%  { transform: translateX(-10px) scale(1.03); }
    100% { transform: translateX(-30px) scale(1.08); }
}

.words{
    animation: move 2s ease-in-out;
}
.opt{
  cursor: pointer;
  padding: 2%;
  font-size:25px;
}
.opt:option{
  cursor: pointer;
}
.only{
  color: black;
}
@keyframes move {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }}
.loader-container {
  width: 60%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  animation: slide 1s ease-in-out;
}

@keyframes slide {
    0% { transform: translateX(-30px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }}

.loader-bar {
  width: 0%;
  height: 100%;
  background-color: rgb(1, 41, 26);
  transition: width 0.5s ease-in-out;
}

.first {
  padding-top: 1%;
  opacity: 0;
  left: 0;
  top: 0;
  transition: opacity 0.5s;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.first.animate-in {
  opacity: 1;
}

.splash-page {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin-left: -6%;
  align-content: center;
  padding-left: 27%;
  padding-right: 15%;
  margin-top: 12%;
}

.splash-page.animate-out {
  opacity: 0;
  pointer-events: none;
}

.up{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  gap:66%;
}

.split{
  display: flex;
  gap: 5%;
  width: 50%;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
}
.third{
  padding-left: 3%;
  padding-top: 3%;
  color:#fff;
  font-size: 15px;
}
.item h5{
  color: #367273;
  font-weight: 500;
}
.item p{
  color: #367273;  
}
.horizontal-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 1%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.test {
  width: 150%;
  margin-left: 10%;
  animation: pulseShadow 3.5s ease-in-out infinite;
}

/* Animation */
@keyframes pulseShadow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.6));
  }

  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 10px 16px rgba(0, 0, 0, 0.9));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.6));
  }
}


.abc{
   filter:drop-shadow(0 5px 8px rgba(255, 255,250, .8));
}
.ab{
  filter:drop-shadow(0 2px 10px rgba(233, 233, 195, 0.8));
  padding: .3%;
  margin-left: 3%;
}
.item {
  background-color: #ebf7f8;  
  padding-top: 5%;
  border: 1px solid #367273;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 5%;
  box-shadow: 1px 6px 8px #367273;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s ease-in-out;
}

.item:hover{
  background-color: #4fa5a7;
  color:rgb(210, 222, 233);
  transform: scale(1.04);
  cursor: pointer;
  border: 1px solid #fff;

}
.item:hover h5,
.item:hover p {
  color:rgb(210, 222, 233);
}
.btna{
  padding: 3%;
  background-color: #ebf7f8;
  color: #333;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 70%;
  margin-top: -.1%;
  border: 1px solid #4fa5a7;
}
.btna:hover{
  background-color: #448d8e;
  color: white;
}
.btn:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: #4fa5a7;
  color: aliceblue;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s ease-in-out;
}
.btn1{
  padding: 2% 6%;
  margin-top: 6%;
  background-color: #438a8b;
  border: none;
  border-radius: 4px;
  color: white;
}
.btn1:hover{
  background-color: #367273;
  cursor: pointer;
  
}
.toggle{
  z-index: 1000;
}
.about-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 0.3s ease-in-out;
}

.about-container {
  width: 30%;
  background-color: aliceblue;
  animation: slideIn 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000000;
  height: 100vh;
}

.about-container.slide-out {
  animation: slideOut 0.3s ease-in-out forwards;
}
.about{
  list-style: disc;
  margin-bottom: 10%;
  margin-top: 4%;
  color: #4fa5a7;
  padding-left: 5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.btn2{
  margin-left: 95%;
  margin-top: -4%;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.run-test-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}

.run-test-container {
  width: 400px;
  max-height: 80vh;
  background-color: rgb(238, 243, 247);
  animation: slideUp 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.run-test-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-top:8px;
  padding-left: 20px;
  padding-right: 20px;
}

.run-test-header h2 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.run-test-content {
  padding: 10px;
}


.start-test-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.middle{
  text-align: center;
  margin-bottom: 20px;
}
.cursor {
  display: inline-block;
  width: 3px;                /* slim vertical bar */
  height: 1.4em;             /* taller than text */
  background-color: #0c2f2e; /* pick your color */
  margin-left: 5px;
  animation: blink 0.7s step-end infinite;
  vertical-align: middle;    /* perfect alignment */
}
.typewriter-wrapper {
  font-size:45px;
  margin-left:-2%;
}
.now{
  margin-left:-1%;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}