.run-test-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.patient-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 95%;
  height: 80%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(5,100fr);
  row-gap: 20px;
  margin-top: 20px;
  margin-left: 1.5%;
  justify-content:center;
}

.folder-card {
  background: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width:88%;
  height:100%;
  margin-bottom:5%;
}

.folder-icon {
  font-size: .8em;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  word-break: break-word; /* Prevent long IDs from overflowing */
}
#color{
  color: #4fa5a7;
  font-size:30px;
}
.folder-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap; /* Wrap buttons if space is tight */
}

.action-btn {
  padding: 4px 8px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}
.action-btn:hover {
  background: #e0e0e0;
}

.add {
  display: flex;
  gap: 3px; 
  margin-left:4%;
}
.add1{
  background-color: #4fa5a7;
  color: white;
  font-size:25px;
}
.add1:hover{
  background-color: #3b7c7d;
}
.option{
  display: flex;
  font-size:35px;
}
#del{
  float: right;
}
#run{
  font-size: 15px;
}
#view{
  font-size: 25px;
  margin-right: 15px;
}
.search{
  width: 64.5999%;
  padding-left: 4px;
  font-size:30px;
}
.search-btn{
  background-color: #4fa5a7;
  color: white;
  font-size:20px;
}
.search-btn:hover{
  background-color: #3b7c7d;
}
.num{
  top: 0;
  font-size:25px;
  margin-top:-2%;
}
.space{
  width:250%;
}