.run-test-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.patient-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 1200px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive */
  gap: 20px;
  margin-top: 20px;
}

.folder-card {
  background: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.folder-icon {
  font-size: .8em;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  word-break: break-word; /* Prevent long IDs from overflowing */
}
#color{
  color: #4fa5a7;
}
.folder-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap; /* Wrap buttons if space is tight */
}

.action-btn {
  padding: 4px 8px;
  font-size: 0.9em;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}
.action-btn:hover {
  background: #e0e0e0;
}

.add {
  display: flex;
  gap: 3px;
}
.add1{
  background-color: #4fa5a7;
  color: white;
}
.add1:hover{
  background-color: #3b7c7d;
}
.option{
  display: flex;
}
#del{
  float: right;
}
#run{
  font-size: 15px;
}
#view{
  font-size: 15px;
  margin-right: 15px;
}
.search{
  width: 64.5999%;
  padding-left: 4px;
}
.search-btn{
  background-color: #4fa5a7;
  color: white;
}
.search-btn:hover{
  background-color: #3b7c7d;
}
.num{
  top: 0;
}