.patient-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Main Card */
.patient-card {
  width: 50%;
  background: #ffffff;
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}

/* Header Row */
.top-bar {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 1rem;
  margin-bottom: 2%;
}

.close-x {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  font-size: .8rem;
  cursor: pointer;
  width: 25%;
  margin-left: 75%;
}

/* Patient Info Section */
.details-grid {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  gap: 30%;
  background: rgba(79, 165, 167, .2);
  padding-bottom: 8%;
  padding-left: 3%;
  padding-top: 3%;
  border-radius: 3px;
}

.key {
  font-size: 12px;
  font-weight: 600;
  color: #51a8a9;
}

.value {
  font-size: 13px;
}

/* Section Title */
.test-title {
  margin-top: 2%;
  font-weight: 650;
  font-size: 16px;
  margin-bottom: 2%;
}

/* Table */
.test-table {
  width: 100%;
  margin-top: 8px;
  border-collapse: collapse;
  font-size: 14px;
}

.test-table th, .test-table td {
  padding: 9px 10px;
  border: 1px solid #e6e6e6;
}

.test-table thead {
  background: #f5f6f9;
  font-weight: 600;
  text-align: left;
}

/* Print Button */
.print-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.print-btn {
  background: #51a8a9;
  color: #f5f6f9;
  border: none;
  padding: 7px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.print-btn:hover{
background-color: #438d8e;
}
.edit{
  padding: 5%;
  background-color: #51a8a9;
  color: #f5f6f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}
.edit:hover{
  background-color: #438d8e;
}
.hm-filters{
  font-size: 13px;
}
.hm{
  margin-bottom: 2%;
  width: 97%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
.table-container {
  max-height: 300px; /* set your desired height */
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.hm-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.test-result-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-result-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
}